.contain {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#capt {
    width: 170px;
    height: 72px;
    font-size: 37px;
    background-color: aquamarine;
    padding: 5px;
    border: aquamarine;
    letter-spacing: 1px;
    float: left;
    color: #E9E91D;
    border-radius: 5px 0 0 5px;
}
#refresh img {
    margin-top: 20px;
    cursor: pointer;
}
#textinput {
    width: 170px;
    height: 70px;
    font-size: 37px;
    background-color: cadetblue;
    border: cadetblue;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
}
.contain button{
    padding: 8px 20px;
    height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 25px;
    background-color: #764D11;
    color: #CED4F0;
    transition: 5s;
}
.contain button:hover {
    background-color: #976216;
}




